.idea/

MINOR/target/
MINOR/out/
MINOR/lib/
MINOR/log/
MINOR/.idea/
MINOR/data/app/repaired/Classification/Car/*.csv
MINOR/data/app/repaired/Classification/Lightning2/*.csv
MINOR/data/app/repaired/Cluster/DistalPhalanxTW/*.csv
MINOR/data/app/repaired/Cluster/InsectEPGRegularTrain/*.csv
MINOR/data/dirty/ECG/*.csv
MINOR/data/dirty/GPS/*.csv
MINOR/data/dirty/ILD/*.csv
MINOR/data/dirty/ILD48k/*.csv

MINOR_py/.idea/
MINOR_py/data/repaired/Classification/Car/*.csv
MINOR_py/data/repaired/Classification/Lightning2/*.csv
MINOR_py/data/repaired/Cluster/DistalPhalanxTW/*.csv
MINOR_py/data/repaired/Cluster/InsectEPGRegularTrain/*.csv
